
.row{
width: 99%;
height: 2rem;
background-color:lightgrey;
/* border: 1px solid beige; */
list-style-type: none;
margin: .5rem;
padding: .5rem;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.row:hover{
    cursor: pointer;
    background: gray;
}
.row p{
    display: grid;
    flex:20%;
    align-items: center;
    justify-content: space-between;
    border: .01px dotted white;
    margin: .5rem;
}
.button{
    background-color: var(--secondary-color);
    border-radius: 2rem;
    cursor: pointer;
    color: white;
    font-weight: bold;  
    border: none;
    width: 200px;
    height: 3rem;
    margin: .5rem;
  }