@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color: #5F6CAF;
  --secondary-color: #5BBFBA;
  --light-color: #E7F0C3;
  --beige-color: #F0CF85;
  --green-color: #A4D4AE;
  --white:#FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App{
  width: 99vw;
  background: var(--light-color);

}
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.content{
  width: 85vw;
} 
.main{
  display: flex;
}

.card{
  background-color: var(--white);
  padding: 1rem;
  border: #ccc 1px dotted;
  border-radius: .3rem;
  margin: .2rem;
  color:rgb(112, 110, 110);
}